body {
    background-color: black;
}

.App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drum-pads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}

.drum-pad {
    width: 100px;
    height: 100px;
}

#drum-machine {
    border: 1px solid white;
}

#display {
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background-color: grey;
    padding: 10px;
}